*{
    margin: 0px;
    padding: 0px;
}

#section1 {

width: 100%;
height: 100vh;
background-color: black;

 
}
#section1 .navbar  {
    width: 100%;
    height: 60px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(175deg, black 70% , white );
    }
     
#section1 .navbar ul {
width: 100%;
height: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
 
  
#section1 .navbar ul li {
    width: auto;
    height: 20px;
    float: left;
    padding-left: 90px;
      padding: 10px;
      padding-top: 20px;
      list-style: none;
    
    }
    #section1 .navbar ul li a{
         color: #AC74D2;
          font-weight: bold;
         font-size: 15px;
         cursor: pointer;
          text-decoration: none;
        }

#section1 .navbar ul  .name  {
    width: auto;
    height: auto;
    font-size: 23px;
    color: aqua;
  

}
#section1 .navbar .butt .b1 {
   color: #007BFF;
   float:right ;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      padding: 7px;
      margin: 12px;
      margin-top: -3px;
      padding-left: 10px;
      padding-right: 10px;
     font-size: 18px;
    border: 1.5px 
    #007BFF solid;
    background-color: transparent;
border-radius: 5px;
transition:   1s;
 
cursor: pointer;


    
    }
#section1 .navbar .butt .b2 {
        color:#28A745;
        float:right ;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           padding: 7px ;
           padding: auto;
           padding-left: 10px;
           padding-right: 10px;

           margin: 12px;
           margin-top: -3px;
           font-size: 18px;
          border: 1.5px 
          #28A745 solid;
         background-color: transparent;
         border-radius: 5px;
         margin-right: 30px;
         transition:   1s;
         cursor: pointer;
         }

#section1 .navbar .butt .b2:hover{
color: white;
background-color: #28A745;
 


}
#section1 .navbar .butt .b1:hover{
    color: white;
    background-color: #007BFF ;
     
    
    
    }
    /*----------------------end of navbar----------------------------------*/
#section1 .background{
width: 100%;
height: 88vh;
position: relative;
text-align: center;
color: white;
overflow: hidden;

}
#section1 .background .img1{
    width: 100%;
    height: 100%;
    position: absolute;

    }
    #section1 .background .img1 img{
        width: 100%;
        height: 100%;
         
        animation-name: background1;
        animation-duration:10s;  
        animation-iteration-count: 11;
    
        }
         
        #section1 .background .img2{
            width: 100%;
            height: 100%;
            position: absolute;
          
             
            
            }
            #section1 .background .img2 img{
                width: 100%;
            height: 100%;
            animation-name: background1;
            animation-duration: 15s;  
            animation-iteration-count: 11;
         
    
            
             
                }
                #section1 .background .img3{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                  
                     
                    
                    }
                   #section1 .background .img3 img{
                    width: 100%;
                    height: 100%;
                    animation-name: background1;
                    animation-duration: 20s;  
                    animation-iteration-count: 11;
                    
            
                    
                     
                        }
            
        
 

    #section1 .background .img1 .wordsonbackground{

  color: white;
  position: relative;
  top: -120px;
  animation-name: background1;
  animation-duration:10s;  
  animation-iteration-count: 11;
  font-size: 25px;
 }
 #section1 .background .img2 .wordsonbackground{

    color: white;
    position: relative;
    top: -120px;
    animation-name: background1;
    animation-duration: 15s;  
    animation-iteration-count: 11;
    font-size: 25px;
   }
   #section1 .background .img3 .wordsonbackground{

    color: white;
    position: relative;
    top: -120px;
    animation-name: background1;
    animation-duration: 20s;  
    animation-iteration-count: 11;
    font-size: 25px;
    

   }
   @keyframes background1{
    50%{

transform: translatex(3000px);
    overflow: hidden;

    }
  
}
    /*----------------end of section 1------------------*/
    #section2{
width: 100%;
height: 700px;
background-color: black;
text-align: center;

position: relative;


    }
    #section2 .header{
    
 font-size: 42px;
 text-align: center;
 color:#AC74D2 ;
 padding-top: 10px;
 font-weight: bold;
        
}
           
#section2 .taht_el_header{
width: 40%;
height: 0.8%;
border-radius: 70%;
    margin: auto;
    margin-top: 6px;
background-image: linear-gradient(150deg , white , rgba(177, 119, 216, 0.973) , white);

            }
            #section2 .el5otot1{

                position: absolute;
              width: 450px;
                border-top: 3px dashed #AC74D2;
                top: 90px;   

               left: 35%;
               
            }
            #section2 .el5otot2{

                position: absolute;
              width:  390px;
                border-top: 3px dashed #AC74D2;
               top: 110px;   
               left: 37%;
               
            }
            #section2 .nesr{

width: 30%;
height:70%;
position: absolute;
top: 100px;

            }
            #section2 .nesr img{

                width: 100%;
                height: 100%;
                
                

            }
            #section2 .section2_header_pargraph h1{
position: absolute;
left:60%;
bottom: 70%;
color: #AC74D2;
font-size: 40px;

            }
            #section2 .section2_header_pargraph p{
                position: absolute;
                left:35%;
                bottom: 61%;
                color: white;
                font-size: 17px;
                padding: 10px;
                font-display: none;
                 font-weight: bold;
                
                            }
                        
                        #section2 .section2_header_pargraph .h2{

                            position: absolute;
                            left:60%;
                            bottom: 50%;
                            color: #AC74D2;
                            font-size: 40px;
                            


                        }
                        #section2 .section2_header_pargraph   .p2{

                            position: absolute;
                            left:35%;
                            bottom: 40%;
                            color: white;
                            font-size: 17px;
                            padding: 10px;
                            font-display: none;
                             font-weight: bold;
                            

                        }
                        #section2 .section2_header_pargraph .h3{

                            position: absolute;
                            left:60%;
                            bottom: 30%;
                            color: #AC74D2;
                            font-size: 40px;
                            
                        }
                        #section2 .section2_header_pargraph   .p3{

                            position: absolute;
                            left:35%;
                            bottom: 20%;
                            color: white;
                            font-size: 17px;
                            padding: 10px;
                            font-display: none;
                             font-weight: bold;
                            

                        }

                        
                        
  /*----------------end of section 2------------------*/
  #section3{
    width: 100%;
    height: 655px;
    background-color: black;
 
    position: relative;
    

  }
  #section3 .header{
    
    font-size: 42px;
    text-align: center;
    color:#AC74D2 ;
    padding-top: 10px;
    font-weight: bold;
           
   }
            
  #section3 .taht_el_header{
    width: 40%;
    height: 0.8%;
    border-radius: 70%;
        margin: auto;
        margin-top: 6px;
    background-image: linear-gradient(150deg , white , rgba(177, 119, 216, 0.973) , white);
    
                }
                #section3 .el5otot1{
    
                    position: absolute;
                  width: 450px;
                    border-top: 3px dashed #AC74D2;
                    top: 90px;   
    
                   left: 35%;
                   
                }
                #section3 .el5otot2{
    
                    position: absolute;
                  width:  390px;
                    border-top: 3px dashed #AC74D2;
                   top: 110px;   
                   left: 37%;
                   
                }
                #section3 .section3_button1{
                     color:black;
                       border: 1.5px  #00CED1 solid;
                     background-color: #00CED1;

position: relative;
font-size: 18px;
top: 55px;
left: 32%;
padding: 10px;
border-radius: 25px;
                     cursor: pointer;

                }
                #section3 .section3_button2{
                    color:black;
                      border: 1.5px #DA55F8 solid;
                    background-color: #DA55F8;

position: relative;
font-size: 18px;
top: 55px;
left: 42%;
padding: 10px;
border-radius: 25px;
                    cursor: pointer;

               }
               #section3 .section3_button2:hover{
                border: 2px white solid;
                
                
                   }
               #section3 .section3_button3{
                color:black;
                border: 1.5px #DA55F8 solid;
                border-left: 30px;


                background-color: #DA55F8;

position: relative;
font-size: 15px;
top: 55px;
left: 51%;
padding: 13px;
border-radius: 20px;
                cursor: pointer;
           }
           #section3 .section3_button3:hover{
            border: 2px white solid;
            
            
               }
           #section3  .line_under_buttons_in_section3{
            width: 60%;
            height: 0.1%;
                 margin: auto;
                position: relative;
                top: 58px;
            background-image: linear-gradient(150deg , white , rgb(255, 254, 254) , white);

           }
           #section3  .continer_for_img {
         
        width: 70%;
        height: auto;
             position: relative;
              
                  
              display: flex;
              
               justify-content: space-around;
               flex-wrap: wrap;
               position: absolute;
               left: 14%;
           }
       
           #section3  .continer_for_img .gallary_pic{
            width: 26%;
            height:100%;
                    
       

                
              
             
           }
           #section3 .continer_for_img .gallary_pic img{
            width: 100%;
            height: 110%;
            border: 5px solid black;
border-radius: 30px;
           }
             /*----------------end of section 3------------------*/

           #section4{
width: 100%;
height: 600px;
background-color: black;
position: relative;

           }
         #section4 .header{
    
            font-size: 42px;
            text-align: center;
            color:#AC74D2 ;
            padding-top: 10px;
            font-weight: bold;
                   
           }
                    
          #section4 .taht_el_header{
            width: 40%;
            height: 0.8%;
            border-radius: 70%;
                margin: auto;
                margin-top: 6px;
            background-image: linear-gradient(150deg , white , rgba(177, 119, 216, 0.973) , white);
            
                        }
                        #section4 .el5otot1{
            
                            position: absolute;
                          width: 450px;
                            border-top: 3px dashed #AC74D2;
                            top: 90px;   
            
                           left: 35%;
                           
                        }
                        #section4 .el5otot2{
            
                            position: absolute;
                          width:  390px;
                            border-top: 3px dashed #AC74D2;
                           top: 110px;   
                           left: 37%;
                           
                        }
                        #section4 .theform  {
width: 50%;
height: 100%;
position: relative;

                        }
                        #section4 .theform h1{
    position: absolute;
                            font-size: 42px;
                            text-align: center;
                            top: 70px;
                            left: 40%;
                            color:#AC74D2 ;
                            font-weight: bold;
                                   
                           }
                           #section4 .theform   form .email_password .email{
                          
                            position: absolute;
                            top: 120px;
                            left: 25%;
                            font-size: 20px;
                            font-weight: bold;
color: #AC74D2 ;


                           }
                           #section4 .theform   form .email_password .password{
                          
                            position: absolute;
                            top: 120px;
                            left: 69%;
                            font-size: 20px;
                            font-weight: bold;
color: #AC74D2 ;


                           }
                           #section4 .theform   form .email_password .input1{

                            position: absolute;
                            top: 150px;
                           
                         border: 5px solid white;
                         border-right: 140px white solid;
                         font-size: 19px;
                        line-height: 1.5;
                        border-radius: 10px;


                           }
                           #section4 .theform   form .email_password .input2{

                            position: absolute;
                            top: 150px;
                           left: 400px;
                         border: 5px solid white;
                         border-right: 110px white solid;

                        line-height: 1.5;
                        border-radius: 10px;
                        font-size: 19px;

                           }
                           #section4 .theform   form .email_password .Address{
                          
                            position: absolute;
                            top: 195px;
                            left: 48%;
                            font-size: 20px;
                            font-weight: bold;
color: #AC74D2 ;


                           }
                           #section4 .theform   form .email_password .input3{

                            position: absolute;
                            top: 220px;
                            left: 0%;
                         border: 5px solid white;
                         border-right: 510px white solid;
font-size: 19px;
                        line-height: 1.5;
                        border-radius: 10px;


                           }
                           #section4 .theform   form .email_password .Address2{
                          
                            position: absolute;
                            top: 270px;
                            left: 48%;
                            font-size: 20px;
                            font-weight: bold;
color: #AC74D2 ;


                           }
                           #section4 .theform   form .email_password .input4{

                            position: absolute;
                            top: 300px;
                            left: 0%;
                         border: 5px solid white;
                         border-right: 510px white solid;
font-size: 19px;
                        line-height: 1.5;
                        border-radius: 10px;
overflow: hidden;

                           }
                           
                           
                           #section4 .theform   form .email_password .City{
                          
                            position: absolute;
                            top: 355px;
                            left: 25%;
                            font-size: 20px;
                            font-weight: bold;
color: #AC74D2 ;


                           }
                           #section4 .theform   form .email_password .input5{

                            position: absolute;
                            top: 390px;
                            left: 0%;
                         border: 5px solid white;
                         border-right: 150px white solid;
font-size: 19px;
                        line-height: 1.5;
                        border-radius: 10px;


                           }
                           #section4 .theform   form .email_password .Zip{
                          
                            position: absolute;
                            top: 355px;
                            left: 73%;
                            font-size: 20px;
                            font-weight: bold;
color: #AC74D2 ;


                           }
                           #section4 .theform   form .email_password .input6{

                            position: absolute;
                            top: 390px;
                            left: 55%;
                         border: 5px solid white;
                         border-right:  -22px white solid;
font-size: 19px;
                        line-height: 1.5;
                        border-radius: 10px;


                           }
                           #section4 .theform   form .email_password button{

                            position: absolute;
                            top:  450px;
                         width: 98%;
                         
                         font-size: 22px;
                        line-height: 1.5;
                        border-radius: 10px;
                        color: white;
                        background-color: #007BFF ;
                        transition: 0.5s;
cursor: pointer;

                           }
                           #section4 .theform   form .email_password button:hover{
background-color: #03366d;
                           }
                           
                           #section4 .theform  form .email_password .maps iframe{


width:95%;
height: 450px;
 position: absolute;
left:780px;
 margin: auto;
bottom: 15%;
display: inline- block; 
 
                           }
                          /*-------------------end of section 4----------------------*/
          
                          #section5{
width: 100%;
height: 40vh;
 display: flex;
 justify-content: space-around;
 background-color: black;
 position: relative;



                           }
                           #section5 .left h1{
position:absolute;
font-size: 40px;
left: 1%;
color: #808080;

                           }
                           #section5 .left p{
                            width: 40%;
                            position:absolute;
                            font-size: 17px;
                            left: 1%;
                            color: #808080;
                             top: 15%;
                           }
                                      #section5 .left .middle h1{
                             position:absolute;
                               font-size: 40px;
                              
                                          left: 45%;
                      color: #808080;
                                                        
                                 }
                                 #section5 .left .middle ul {
                                  position:absolute;
                                  
                  font-size: 20px;
                  left: 46%;
                   color: #808080;
             
        top: 15%;
                                                                      }
                 #section5 .left .right h1{
                     position:absolute;
                              font-size: 40px;
                                                                         
                                         left: 70%;
                              color: #808080;
                                                                                                   
                                       }
                         #section5 .left .right ul {
                                               position:absolute;
                                                                             
                                font-size: 20px;
                              left: 71%;
                                     color: #808080;
                                     cursor: pointer;
                                  
 
                              top: 15%;                    }
                                       #section5 .left .right ul   a{
                                      text-decoration: none;
                                       color: #808080;
                                       display: inline-block;
                                                                                                                 }
                                                   #section5 .taht_el_header{
                                                      width: 99%;
              height: 1.2%;
           border-radius: 70%;
      margin: auto;
            position: absolute;
    top: 210px;

   background-image: linear-gradient(150deg , white , rgba(177, 119, 216, 0.973) , white);
                      }    
 #section5 .lastthing {
  
  width: 100%;
  height: 100%;
  display:  inline-block;
  color: #808080;
   
  background-image: url('../project1/images/last.png') ;
  background-repeat: no-repeat;
  background-size: 20%  20%;
  background-position:  1000px 220px;

 }
 #section5 .lastthing h3 {
  position: absolute;
  color: #808080;
  bottom: 40px;
  left : 1%
  

  


}


